$grey : #999;
$white : #fff;

div.brightcove-messages {
  text-align: left;
	width: calc(100% - 4px);
  .updated {
		margin-left: 0px;
		margin-bottom: 15px;
  }
}

div.brightcove-uploader{
	div.brightcove-messages {
		.updated {
			margin: 20px 15px 2px;
		}
	}
}