.brightcove {
	.media-toolbar {
        position: relative;
		right  : 10px;
		width  : calc(100% - 10px);
		height : auto;
		@media screen and (min-width : 782px) {
			right : 20px;
			width : calc(100% - 20px);
		}
	}
	.media-toolbar-secondary {
		padding    : 12px 0;
		box-sizing : border-box;
	}
}

.wp-core-ui {

	.brightcove.attachment {
		float : none;
	}

	.brightcove.attachment:focus,
	.selected.brightcove.attachment:focus,
	.brightcove.attachment.details:focus {
		-webkit-box-shadow : none;
		box-shadow         : none;
	}

}

.brightcove.media-frame-content, .playlist-edit-container {

	.spinner {
		display: inline-block;
		margin: 7px;
		visibility: visible;

		&.hidden {
			visibility: hidden;
		}
	}

	.menu-visible {

		.highlighted .thumbnail {
			-webkit-box-shadow : 0 0 2px 5px #5b9dd9;
			box-shadow         : 0 0 2px 5px #5b9dd9;
			outline            : none;

		}

	}

	background-color : transparent;

	ul {
		text-align : justify;
	}

	.attachment {

		display        : inline-block;
		margin         : 0;
		vertical-align : top;
		word-wrap      : break-word;
		padding        : 10px;
		width          : 100%;
		@media screen and (min-width : 700px) {
			width : 50%;
		}
		@media screen and (min-width : 1000px) {
			width : 33%;
		}
		@media screen and (min-width : 1200px) {
			width : 25%;
		}

		.attachment-preview {
			background-color : transparent;
			box-shadow       : none;
			&:before {
				display : none;
			}
		}

		.thumbnail {

			overflow      : hidden;
			position      : relative;
			margin-bottom : 10px;
			&:after {
				display : none;
			}
			img {
				display  : block;
				position : relative;
				width    : 100%;
				height   : auto;
			}

			.processing{
				position: absolute;
				z-index: 9999;
				top: 0px;
				left: 0px;
				width: 100%;
				text-align: center;
				background: rgba(50,50,50,.7);
				color: #fff;
				font-size: 12px;
				height: 100%;
				span{
					position: absolute;
					top: 50%;
					margin-top: -9px;
					width: 100%;
					left: 0;
					text-align: center;
				}
			}

			.duration,
			.video-count {
				background-color : $white;
				bottom           : 0;
				padding          : 3px;
				position         : absolute;
				right            : 0;
				width            : auto;
				z-index          : 1000;
			}

		}

		.bc-info {

			clear    : both;
			display  : block;
			height   : auto;
			padding  : 1px;
			position : relative;

			.bc-name {

				background-color : transparent;
				box-shadow       : none !important;
				clear            : both;
				display          : inline;
				float            : left;
				font-weight      : bold;
				height           : auto;
				text-align       : left !important;
				top              : 95px;
				word-break       : break-word;

				div {
					padding : 0;
				}

			}

			.bc-updated {
				clear       : both;
				color       : $grey;
				float       : left;
				font-weight : normal;
				height      : 100%;
			}

		}

		.media-actions {
			clear: both;
			text-align: right;

			.button {
				margin-left: 1em;
			}

			@media screen and (min-width : 700px) {
				display: none;
			}
		}

	}

}

.brightcove.media-frame-menu {

	height     : 100%;
	box-sizing : border-box;

	.attachment-detail {

		.thumbnail {

			clear    : both;
			position : relative;

			img {
				display   : block;
				max-width : 100%;
				height    : auto;
			}

			.processing{
				position: absolute;
				z-index: 9999;
				top: 0px;
				left: 0px;
				width: 100%;
				text-align: center;
				background: rgba(50,50,50,.7);
				color: #fff;
				font-size: 12px;
				height: 100%;
				span{
					position: absolute;
					top: 50%;
					margin-top: -6px;
					width: 100%;
					left: 0;
					text-align: center;
				}
			}

			.detail-duration,
			.detail-video-count {

				bottom   : 0;
				padding  : 0;
				position : absolute;
				right    : 0;
				z-index  : 1000;

				span {
					background-color : $white;
					float            : right;
					padding          : 3px;
				}

			}

		}

		.video-info,
		.playlist-info {

			margin   : 10px 0;
			overflow : hidden;

			.video-name,
			.playlist-name {
				clear       : both;
				float       : left;
				font-size   : 130%;
				font-weight : bold;
				margin      : 5px 0 10px 0;
				word-break  : break-word;
			}

			.bc-video-section {
				display       : block;
				float         : left;
				height        : auto;
				margin-bottom : 20px;
				width         : 100%;
			}

			.brightcove-player {
				display: block;
				padding: 3px 0;
			}

            .account-name,
            .created-date,
            .playlist-id,
            .playlist-type,
            .updated-date,
            .video-created,
			.video-long-description,
            .video-description,
            .video-updated {
				clear   : both;
				display : block;
				color   : $grey;
				float   : left;

				.title {
					margin-right : 5px;
				}
			}
		}

		.video-details, .playlist-details {
			.left-col, label {
				display: inline-block;
				float: left;
				clear: left;
				width: 100px;
                padding-top: 5px;
			}

			.right-col {
				display: inline-block;
				float: left;
				padding-top: 5px;
			}

			.clear {
				clear: both;
			}

			input[type=number] {
				width: 20%;
			}

			textarea {
				margin-top: 10px;
				width: 100%;
			}

			#custom {
              display: none;
			}
		}
	}
}

@media screen and (max-width : 700px) {

	.brightcove.media-frame-content {
		border-right-width: 0;
		margin-right: 0;
		padding-right: 0;
		width: auto;
		// width        : calc(50% - 10px);
		// margin-right : 10px;

	}

	.brightcove.media-frame-menu {
		// width : calc(50% - 10px);
	}

}

@media screen and (max-width : 412px) {

	.brightcove.media-frame-content {

		.attachment {
			padding : 20px 10px;
		}

	}

}
