.brightcove-playlist {
	background-color: var(--bc-color-white);
	font-size: 80%;
	padding: 20px 20px 10px 20px;
}

h3.brightcove-playlist-title {
	margin: 0 0 10px 0;
}

.brightcove-playlist-item {
	border-top: 1px solid #eee;
	display: table;
	margin-bottom: 20px;
	padding-top: 20px;
	width: 100%;
}

.brightcove-playlist-video-order-id {
	color: #999;
	display: table-cell;
	vertical-align: middle;
	width: 20px;
}

.brightcove-playlist-video-thumbnail {
	display: table-cell;
	padding-right: 20px;
	vertical-align: middle;
	width: 40%;
}

.brightcove-playlist-video-meta {
	display: table-cell;
	vertical-align: middle;
}

h4.brightcove-playlist-video-title {
	margin: 0;
}

.brightcove-playlist-videodescription {
	margin: 0;
}
