:root {
	--bc-color-grey: #999;
	--bc-color-white: #fff;
}

div.brightcove-messages {
	text-align: left;
	width: calc(100% - 4px);

	& .updated {
		margin-bottom: 15px;
		margin-left: 0;
	}
}

div.brightcove-uploader {

	& div.brightcove-messages {

		& .updated {
			margin: 20px 15px 2px;
		}
	}
}
